*  {
	-fx-background-color: black ;
}

.slider .track {
	-fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0.0,1.0,2.0,3.0;
    -fx-background-radius: 3.0,2.0,2.0,2.0;
}

.slider .thumb {
	-fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0.0,1.0,2.0,3.0;
    -fx-background-radius: 3.0,2.0,2.0,2.0;
}

#openButton {
	-fx-graphic: url("/image/open-button.png") ;
}
#playButton {
	-fx-graphic: url("/image/play-button.png") ;
}
#stopButton {
	-fx-graphic: url("/image/stop-button.png") ;
}
#forwardButton {
	-fx-graphic: url("/image/forward-button.png") ;
}
#rewindButton {
	-fx-graphic: url("/image/rewind-button.png") ;
}
#pauseButton {
	-fx-graphic: url("/image/pause-button.png") ;
}
#muteButton {
	-fx-graphic: url("/image/volume-button.png") ;
}
